.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #746b6b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  float: left;
  width: 80%;
  flex-shrink: 1;
  flex-wrap: nowrap;
}
.select-menu{
  background-color: #b9b9b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  float: right;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
}
.video-menu{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
